/* Table container */
.return-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Table styling */
.return-table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto; /* Centering the table */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table header */
.return-table thead {
  background-color: #f8f9fa;
  text-align: left;
}

.return-table th {
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

/* Table body rows */
.return-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Center align checkboxes and quantity inputs */
.return-table td:first-child,
.return-table td:nth-child(4) {
  text-align: left;
}

/* Style the checkbox */
.return-table input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Style quantity input */
.return-table input[type="number"] {
  width: 50px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button container */
.button {
  display: flex;
      justify-content: right;
      gap: 15px;
      margin-top: 20px;
      width: 85%;
}

/* Buttons */
.button button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  width: 200px;
}

.button button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button button:first-of-type {
  background-color: #fff;
  border: 1px solid #bbb7b7;
  color: #4f4a4a;
}

/* Change text color to white on hover for the first button */
.button button:first-of-type:hover {
  background-color: #bbb7b7; /* Adjusted background to make text visible */
  color: #4f4a4a; /* Text color changes to white */
}


.button button:last-of-type {
  background-color: #02B290;
}

/* Header */
.header {
  padding-top: 60px;
  text-align: center;
  font-weight: bold;
}


